<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Success!</title>
</head>
<body>
    <div style="font-family: consolas, serif;">
        <h1>You can now use the Spotify API</h1>

        <p>
            Your API token is:
            <span style="font-weight: bold">{{ token["access_token"] }}</span>
        </p>
        <p>Your token type is: {{ token["token_type"] }}</p>
        <p>Your access scopes are: {{ token.get("scope", default_scope) }}</p>
        <p>Your token expires in: {{ token["expires_in"] }} seconds</p>
        <p>Your refresh token is: {{ token["refresh_token"] }}</p>
    </div>
</body>
</html>